.test {
	background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  
}


.title--color-red{
  background-color: red;
}
.title--color-green{
  background-color: rgb(34, 255, 0);
}