.personal-table {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 10px;
	width: calc(100vw - var(--sidebar-width));
	height: 100vh;
	padding: 5px;

	&__cash-flow {
		grid-column: span 12;
		grid-row: span 1;
		border-radius: 5px;
		padding: 20px 10px;

		@media (min-width: 1024px) {
			grid-column: span 3;
			grid-row: span 2;
		}

		background: linear-gradient(to top, #CCE5FF, #6699CC)
	}

	&__charts {
		grid-column: span 12;
		grid-row: span 2;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		gap: 10px;

		@media (min-width: 1024px) {
			grid-column: span 9;
			grid-row: span 2;
		}

		background: linear-gradient(to top, #CCE5FF, #6699CC);

    &--chart {
      width: 280px;

      @media (min-width: 1240px) {
        width: 350px;
      }
    }
	}

	&__cash-flow-graph {
		grid-column: span 12;
		grid-row: span 2;

		@media (min-width: 1024px) {
			grid-column: span 12;
			grid-row: span 2;
		}

		background: linear-gradient(to top, #CCE5FF, #6699CC);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__cash-flow-list {
		grid-column: span 12;
		grid-row: span 2;

		@media (min-width: 1024px) {
			grid-column: span 12;
			grid-row: span 2;
		}

		background: linear-gradient(to bottom, #CCE5FF, #6699CC);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
