.button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: linear-gradient(to top, #ffb400, #ffcc33, #ffdb80, #ffe57f);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		background: linear-gradient(to top, #FF8F00, #FFA833, #FFC266, #FFD99F);
	}
}
