.login-form {
	width: 350px;
	height: 500px;
	overflow: hidden;
	background: linear-gradient(
		to bottom,
		rgb(53, 111, 211),
		rgb(78, 139, 219),
		rgb(109, 175, 229)
	);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;

	&__container {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}
}

#chk {
	display: none;
}

input {
	width: 60%;
	height: 40px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

#chk:checked ~ .login {
	transform: translateY(-500px);
}
#chk:checked ~ .login label {
	transform: scale(1);
}
#chk:checked ~ .sign-up label {
	transform: scale(0.6);
}
