:root {
  --sidebar-width-small: 80px;
  --sidebar-width-medium: 150px;
  --sidebar-width-large: 200px; 
  --sidebar-width-x-large: 250px;
  --hidden: block;
}

@media screen and (max-width: 480px) {
  :root {
    --sidebar-width: var(--sidebar-width-small); 
    --hidden: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --sidebar-width: var(--sidebar-width-medium);
    --hidden: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --sidebar-width: var(--sidebar-width-large);
  }
}

@media screen and (min-width: 1025px) {
  :root {
    --sidebar-width: var(--sidebar-width-x-large);
  }
}
