* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Jost', sans-serif;
	background: #f3f8fd;
	height: 100vh;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}